.ship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.title-1 {
    margin: 0;
}

.radio-group {
    display: flex;
    gap: 20px;
}

    .radio-group label {
        display: flex;
        align-items: center;
    }

    .radio-group input[type="radio"] {
        margin-right: 5px;
    }



/* -----------------------------------------------------
	Loader CSS
----------------------------------------------------- */
.loader {
    border: 0px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}