.inline-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-section select,
.form-section input {
    width: 100%;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    .form-section input[type="color"] {
        display: none;
        margin-top: 5px;
    }

.inline-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.preview {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card-template {
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

    .card-template img.logo-preview {
        max-width: 100px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1; /* Ensure the logo is visible on top */
    }

    .card-template img.background-preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0; /* Background image behind other elements */
    }

    .card-template .text-right {
        text-align: right;
    }

    /* To ensure the text and other elements appear on top */
    .card-template p {
        margin: 5px 0;
        position: relative;
        z-index: 1; /* Ensure these elements appear above the background */
    }

.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.ship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.ship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}


.title-1 {
    margin: 0;
}

.radio-group {
    display: flex;
    gap: 20px;
}

    .radio-group label {
        display: flex;
        align-items: center;
    }

    .radio-group input[type="radio"] {
        margin-right: 5px;
    }


/* -----------------------------------------------------
	Loader CSS
----------------------------------------------------- */
.loader {
    border: 0px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* -----------------------------------------------------
	Toggle CSS
----------------------------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 3px;
        background-color: #c87065;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #c8a165;
}

    input:checked + .slider:before {
        transform: translateX(14px);
    }

.slider.round {
    border-radius: 20px;
}

    .slider.round:before {
        border-radius: 50%;
    }